{% extends 'base.html' %}

{% block content %}
<h1> {{ student.first_name }} {{ student.last_name }} </h1>

<p> Enrolled for: {{ student.subject.subject_name }} </p>

<p> Learning_style: {{ student.learning_style.learning_style }} </p>

<p> Comments: {{ student.comment }} </p>

<p><a class="links" href="/students/{{ student.id }}/edit">Edit Student</a></p>

{% endblock %}