{% extends 'base.html' %}
{% block content %}

<h1> New Subject </h1>

<form action="/subjects" method="post">
{# subject_name #}
<div>
    <label for="subject_name">First Name: </label>
    <input type "text" id="subject_name" name="subject_name" placeholder="Subject Name" required autofocus>
</div>

{# learning_style #}
<div>
    <label for"learning_style"> Learning_style</label>
    <select id="learning_style" name="learning_style_id">
    {% for learning_style in all_learning_styles %}
        <option value="{{ learning_style.id }}">{{ learning_style.learning_style }}</option>
    {% endfor %}
    </select>
</div>
<button type="submit">Add Subject</button>
</form>

{% endblock %}