{% extends 'base.html'%}

{% block content %}

<h1> Lessons </h1>
<div class="inline_links">
<p><a class="links" href="/lessons/upcoming">All Upcoming Lessons</a> </p>
<p><a class="links" href="/lessons/new">Add a New Lesson</a> </p>
</div>

<table>
    <tr>
        <th>
            Date
        </th>
        <th>
            Time
        </th>
        <th>
            Educator
        </th>
        <th>
            Subject
        </th>
        <th>
            Learning Style
        </th>
        <th>
            Delete Lesson
        </th>
    </tr>
    {% for lesson in lessons %}
    <tr>
        <td><a href="/lessons/{{ lesson.id }}"> {{ lesson.date }}</a></td>
        <td> {{ lesson.time }}</td>
        <td> {{ lesson.educator.first_name }} {{lesson.educator.last_name }}</td>
        <td> {{ lesson.subject.subject_name }}</td>
        <td> {{ lesson.learning_style.learning_style }}</td>
        <td><div class="buttons">
        
            <form class="delete-form" action="/lessons/{{lesson.id}}/delete" method="POST">
                <button class="trash_button"><i class="fa fa-trash-o fa-3x" style="color:black" aria-hidden="true"></i></button>
            </form>
        </div></td>
    </tr>
    {% endfor %}
</table>

{% endblock %}