{% extends 'base.html' %}

{% block content %}
<div>
    <h1> {{lesson.subject.subject_name}}</h1>

    <p class="error message" > Maximum capacity of students reached. </p>
    <p><a href="/lessons">Return to Lessons</a></p>
</div>
{% endblock %}