{% extends 'base.html'%}

{% block content %}

<h1> Lessons </h1>
<table>
    <tr>
        <th>
            Date
        </th>
        <th>
            Time
        </th>
        <th>
            Educator
        </th>
        <th>
            Subject
        </th>
        <th>
            Learning Style
        </th>
    </tr>
    {% for lesson in lessons %}
    <tr>
        <td><a href="/lessons/{{ lesson.id }}"> {{ lesson.date }}</a></td>
        <td> {{ lesson.time }}</td>
        <td> {{ lesson.educator.first_name }} {{lesson.educator.last_name }}</td>
        <td> {{ lesson.subject.subject_name }}</td>
        <td> {{ lesson.learning_style.learning_style }}</td>
    </tr>
    {% endfor %}
</table>
{% endblock %}